# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cache in subfolders
**/__pycache__/
**/*.py[cod]

# Virtual environments
venv/
env/
tdl_venv/
**/venv/
**/env/
**/tdl_venv/

# Environment variables
.env
**/.env

# VS Code / IDEs
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Test/output/log files
*.log
*.sqlite3



*venv*

*offline_packages*


# Ignore image files
*.jpg
*.png

# Ignore audio files
*.mp3

# Ignore anything ending with google-cloud-sdk
*google-cloud-sdk
